<div class="container">
    <div class="row align-items-center">
      <div class="col-lg-1 col-md-2">
        <a class="navbar-brand" href="/">
          <img src="<%= logoSrc %>" alt="Logo" class="logo img-fluid">
        </a>
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <img class="product-image img-fluid" src="<%= backgroundSrc %>" alt="Product 1">
        <p class="lead text-center"><strong>Fashion Destination</strong></p>
        <hr class="my-4">
        <p class="text-center">Discover the latest trends in clothing and accessories at Bshop. We offer a curated selection of 100% organic, high-quality fashion items designed to elevate your style. Whether you're looking for everyday essentials or statement pieces, Bshop has something for every occasion.</p>
        <div class="text-center">
          <a class="btn btn-primary btn-lg" href="shop.html" role="button">Explore Now</a>
        </div>
      </div>
    </div>
  </div>
  