<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" route="/" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="/add" route="/add" class="nav-link">Add Product</a></li>
      <li class="nav-item"><a href="/list" route="/list" class="nav-link">List Product</a></li>
      <li class="nav-item"><a href="/contact" route="/contact" class="nav-link">Contact</a></li>
      <li class="nav-item"><a href="/about" route="/about" class="nav-link">About</a></li>
    </ul>
  </header>
</div>
