@import "bootstrap/scss/bootstrap.scss";

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';

//@import "";

body{
    background-color: black;
    color: white;
 
    h2{
        color: red;
    }
}

a{
    cursor: pointer;
}

.modal-body {
    color: #000; /* Ensure the text is black (or any visible color) */
}