<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="../../../img/profile1.jpg" class="rounded-circle" width="120" height="130" alt="Bhawana Maswa">
            <p>Bhawana Maswa</p>
            <h2>Education</h2>
            <p>Computer Programming - Diploma<br>
            Durham College, Oshawa, ON<br>
            2023 – Present</p>

            <h2>Relevant Skills</h2>
            <div class="skills-list">
              <ul>
                  <li>Python, Java, C#, SQL</li>
                  <li>HTML, CSS, JavaScript</li>
                  <li>Initiative-taking and adaptable</li>
                  <li>Consistently reliable and detail-oriented</li>
              </ul>
          </div>
        </div>
    
    <div class="col-lg-9 col-md-8 mx-auto">
        <h1 class="fw-light">Cover Letter</h1>
        <p class="lead text-body-secondary"><h1>Bhawana Maswa</h1>
          <p><strong>Oshawa, Canada</strong>| <a href="https://www.linkedin.com/in/bhawana-maswa/">https://www.linkedin.com/in/bhawana-maswa/</a><br>
            bhawanamaswa@gmail.com</p>
                   
          <p>My name is Bhawana Maswa, and I am currently pursuing Diploma in Computer Programming at Durham College. Originally from Nepal, I have a passion for Technology and am eager to contribute my skills and knowledge in this dynamic field of technology.</p>
  
          <p>Throughout my academic journey, I have gained proficiency in different programming languages, Web Development tools and version control technologies. These experiences have equipped me with a strong foundation in the field of Programming.</p>
  
          <p>As I approach graduation, I am actively seeking opportunities in Programming and web development, where I can apply my knowledge I gained throughout my college.</p>
  
          <p>Enclosed is a glimpse of my academic and professional journey, demonstrating my dedication to IT Industry. I am confident that my enthusiasm and skills will make me a valuable asset to your team.</p>
  
          <p>I look forward to the possibility of discussing how my background, skills, and aspirations. Thank you.</p><br>
          <p>Warm regards,</p>
          <p class="signature">[Bhawana Maswa]</p></p>
    </div>
    </div>
    </div>